$font-stack: 'Source Sans Pro', sans-serif;

$main-text: #000000;
$white: #FFFFFF;
$dark-gray: #333333;
$light-gray: #CCCCCC;
$primary: #3D015C;
$primary-alt: #6F338E;
$header: #CCCCCC;
$background: #FAFAFA;
$main-text: #000000;
$nav-text: #000000;
$nav-hover: $primary;

body {
	font-family: 100% $font-stack;
	color: $main-text;
    background-color: $background;
}
a, p, h2, h3, {
    font: 100% $font-stack;
}
html {
    font-size: 100%;
}
.topimg {
    max-height: 404px;
    margin-right: auto;
    margin-left: auto;
}
@media (max-width: 560px){
    .topimg {
        margin-top: 50%;
    }
}
.navimg {
    width: 74px;
    height: 90px;
}
.navbar-nav {
    font-size: 1.4em;
}
html, body, section, .panel, .panel-body {
    height: 100%;
    min-height: 100%;
    vertical-align: center;
    float: none;
}
section {
    padding-top: 65px;
    margin-top: -65px;
    margin-bottom: 30px;
}
#full-width, #portrait, #tagline {
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 0px;
    padding-right: 0px;
}
#tagline {
    z-index: 22;
}
#nav.affix {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
}
.navbar .nav .active > a {
    background-color: none;
    background: 0;
    color: $nav-text;
    border-bottom: 2px solid $primary;
    box-shadow: none !important;
    -webkit-box-shadow: none !important;
}
.navbar {
    background-color: rgba(255, 255, 255, 0.97);
    border-top: 4px solid $primary;
    box-shadow: 0px 1px 0.5em #DBDBDB;
}
.navbar-nav>li>a {
    padding-top: 35px;
    color: $nav-text;
}
.nav > li > a:focus, .nav > li > a:hover {
    text-decoration: none;
    background-color: rgba(255,255,255,0.97);
}
.nav > li > a:hover {
    color: $primary;
}
.navbar-header {
    padding-left: 40px;
}
.navbar-toggle {
    border: 1px solid $primary;
}
h1, h2, h3 {
    text-align: center;
}
h1 {
    font-size: 5em;
    line-height: 1.4em;
    margin-top: 50px;
    margin-bottom: 50px;
}
h2 {
    color: black;
    line-height: 1.3;
    font-size: 2em;
    font-weight: bold;
}
h3 {
    color: black;
    line-height: 1.25em;
    font-size: 1.5em;
}
p {
    font-size: 1em;
    text-align: justify;
}
.space {
    margin-top: 55px;
}
.about p {
    font-size: 1.25em;
    font-weight: bold;
}
a.anchor {
    display: block;
    position: relative;
    //top: -250px;
    visibility: hidden;
}
.num {
    color: $primary-alt;
    font-size: 2em;
}
.panel-body h3{
    font-size: 1.25em;
}
.panel {
    margin-top: 10px;
}
.about p {
    text-align: center;
    font-size: 1.5em;
}
.sponsor p{
    text-align: center;
}
.sponsor img {
    margin: 10px 0px 10px 0px;
}
.faq p {
    text-align: justify;
}
.faq h3 {
    font-weight: bold;
}
.btn-primary {
    background-color: $primary;
    color: white;
    border: none;
}
.btn-primary:focus, .btn-primary:hover {
    background-color: $primary-alt;
    color: white;
    border: none;
}
.btn-lg-text {
    font-size: 2.5em;
}
.bigbtn {
    margin-top: 25px;
}
#headline {
height:400px;
background-color: $primary;
}
#headline h1 {
    color: #FFFFFF;
    text-shadow: 1px 1px 2px #272742;
    margin-top: 150px;
    font-size: 5.25em;
}
.footer {
    padding-top: 40px;
    padding-bottom: 30px;
    margin-top: 100px;
    color: rgb(119, 119, 119);
    text-align: center;
    border-top: 1px solid rgb(229, 229, 229);
}
.anchor {
    margin-bottom: 75px;
    padding-top: 100px;
    margin-top: -100px;
}
a {
    color: $primary-alt;
}
a:hover {
    color: $primary;
}
#emc {
   margin-top: 20px; 
}
#google {
    margin-top: 35px;
}
#redventures {
    margin-top: 40px;
}
@media (max-width: 560px) {
    #redventures {
        margin-top: 10px;
    }
}
#cc {
    margin-top: -10px;
}
