div.background {
	float: left;
	position: fixed;
	min-height: 600px;
	width: 100%;
	top: 0;
	bottom: 0;
	z-index: -99;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center 30%;
}

body {
	background-position: top center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}