div.background {
	float: left;
	position: fixed;
	min-height: 600px;
	width: 100%;
	top: 0;
	bottom: 0;
	z-index: -99;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center 30%;
	background-image: url('../images/backgrounds/0_1600.jpg');
}