.desktopIcons {
	text-align: center;
	color: black;
	padding-top: 35px;
	padding-bottom: 84px;
	min-height: 381px;
	width: 100%;
	-webkit-column-gap: 10px;
	-ms-column-gap: 10px;
    -moz-column-gap: 10px;
    column-gap: 10px;
	-webkit-column-count: 5; 
	-ms-column-count: 5;
    -moz-column-count: 5;
    column-count: 5;
    -webkit-column-fill: auto;
    -moz-column-fill: auto;
    column-fill: auto;
}

.desktopIcons.shadow {
	-webkit-filter: drop-shadow(6px 6px 7px rgba(0,0,0,0.5));
	filter: url(shadow.svg#drop-shadow);
	-ms-filter: progid:DXImageTransform.Microsoft.Shadow(OffX=6, OffY=6, Color='#444');
	filter: progid:DXImageTransform.Microsoft.Shadow(OffX=6, OffY=6, Color='#444');
}

.desktopIcons .icon {
	display: inline-block;
	width: 26%;
	margin: 2%;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 5px;
	padding-right: 5px;
	vertical-align: top;
	text-align: center;
	vertical-align: middle;
	opacity: .9;
	width: 100%;
	max-width: 4em;
	color: white;
	font-size: 0.8em;
	border-radius: 2px;
	-webkit-border-radius: 2px;
}

.desktopIcons .icon:hover {
	background-color: rgba(0, 0, 0, 0.25);
}

.desktopIcons > a:hover {
	opacity: 1;
}
.desktopIcons .icon img{
	width: 100%;
}

.popup {
	display: none;
 	float: left;
 	position: fixed;
	width: 100%;
	top: 0;
	bottom: 0;
	z-index: 99999;
	background-color: rgba(0, 0, 0, 0.5);
	text-align: center;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.popup > div {
	background: rgba(255, 255, 255, 0.8);
	color: black;
	display: block;
	margin: auto;
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;

	position: absolute;
	left:0;
	right: 0;
	top: 0;
	bottom: 0;  

	border-radius: 2px;
	-webkit-border-radius: 2px;
	padding: 10px;

	width: 80%;
	max-width: 24em;
	height: 80%;
	max-height: 24em;
}

.popup img {
	width: 100%;
}

.popup p {
	text-align: left;
	text-indent: 0;
}

.popup > div > ul {
	text-indent: 0;
	list-style: none;
}

.popup#mentors > div {
	max-height: 6em;
}

.popup#map > div {
	max-height: 400px;
	max-width: 400px;
}

.popup#pizza > div {
	max-height: 6em;
}

.popup#schedule td {
	text-align: right;
	padding-left: 5px;
	padding-right: 5px;
}

.popup#schedule td + td {
	text-align: left;
}

.popup#wifi > div {
	text-align: left;
}

#wifiLink {
	display: none;
}

#pizzaLink {
	display: none;
}

#mentorsLink {
	display: none;
}

#prizesLink {
	display: none;
}
@media (max-width : 4096px) {
	.desktopIcons {
		-webkit-column-count: 24;
		-ms-column-count: 24; 
  	  	-moz-column-count: 24;
    	column-count: 24;
	}
}
@media (max-width : 2048px) {
	.desktopIcons {
		-webkit-column-count: 20;
		-ms-column-count: 20; 
  	  	-moz-column-count: 20;
    	column-count: 20;
	}
}
@media (max-width : 1920px) {
	.desktopIcons {
		-webkit-column-count: 16;
		-ms-column-count: 16; 
  	  	-moz-column-count: 16;
    	column-count: 16;
	}
}

@media (max-width : 1600px) {
	.desktopIcons {
		-webkit-column-count: 13;
		-ms-column-count: 13; 
  	  	-moz-column-count: 13;
    	column-count: 13;
	}
}

@media (max-width : 1440px) {
	.desktopIcons {
		-webkit-column-count: 12;
		-ms-column-count: 12;
		-moz-column-count: 12;
		column-count: 12;
	}
}

@media (max-width : 1280px) {
	.desktopIcons {
		-webkit-column-count: 11;
		-ms-column-count: 11; 
  	  	-moz-column-count: 11;
    	column-count: 11;
	}
}

@media (max-width : 1024px) {
	.desktopIcons {
		-webkit-column-count: 10;
		-ms-column-count: 10; 
  	  	-moz-column-count: 10;
    	column-count: 10;
	}
}

@media (max-width : 900px) {
	.desktopIcons {
		-webkit-column-count: 9;
		-ms-column-count: 9; 
  	  	-moz-column-count: 9;
    	column-count: 9;
	}
}

@media (max-width : 800px) {
	.desktopIcons {
		-webkit-column-count: 8;
		-ms-column-count: 8; 
  	  	-moz-column-count: 8;
    	column-count: 8;
	}
}

@media (max-width : 640px) {
	.desktopIcons {
		-webkit-column-count: 7;
		-ms-column-count: 7; 
  	  	-moz-column-count: 7;
    	column-count: 7;
	}
}

@media (max-width: 480px) {
	.desktopIcons {
		-webkit-column-count: 5;
		-ms-column-count: 5; 
  	  	-moz-column-count: 5;
    	column-count: 5;
	}
}

@media (max-width : 320px) {
    .desktopIcons {
		-webkit-column-count: 1;
		-ms-column-count: 1; 
  	  	-moz-column-count: 1;
    	column-count: 1;
    	text-align: left;
	}
}