body {
	padding: 0;
	margin: 0;
}
body:after {
	content: '';
	
}

.splash {
	display: table;
	width: 100%;
	font-size: 1.2em;
	font-weight: bold;
  user-select: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	position: absolute;
	background: inherit;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 10;
}

.splash.shadow {
	-webkit-filter: drop-shadow(6px 6px 7px rgba(0,0,0,0.5));
	filter: url(shadow.svg#drop-shadow);
	-ms-filter: progid:DXImageTransform.Microsoft.Shadow(OffX=6, OffY=6, Color='#444');
	filter: progid:DXImageTransform.Microsoft.Shadow(OffX=6, OffY=6, Color='#444');
}

.splash > .container {
	display: none;
	text-align: center;
	vertical-align: middle;
	max-width: 100%;
	max-height: inherit;
}

.splash > .container > div {
	text-align: center;
}

.splash > .container > div > span {
  color: #005972;
  background-color: white;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 5px;
  opacity: 0.75;
}
.splash > .container > img {
	display: block;
	margin: auto;
	width: auto;;
	max-width: 100%;
	max-height: inherit;
}

/* Thanks to https://github.com/daneden/animate.css/blob/master/animate.css */
@-webkit-keyframes zoomInEntrance {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(.1, .1, .1) translate3d(0, -1000px, 0);
    transform: scale3d(.1, .1, .1) translate3d(0, -1000px, 0);
    -webkit-animation-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190);
    animation-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190);
  }

  60% {
    opacity: 1;
    -webkit-transform: scale3d(.475, .475, .475) translate3d(0, 60px, 0);
    transform: scale3d(.475, .475, .475) translate3d(0, 60px, 0);
    -webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
  }
}

@keyframes zoomInEntrance {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(.1, .1, .1) translate3d(0, -1000px, 0);
    -ms-transform: scale3d(.1, .1, .1) translate3d(0, -1000px, 0);
    transform: scale3d(.1, .1, .1) translate3d(0, -1000px, 0);
    -webkit-animation-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190);
    animation-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190);
  }

  60% {
    opacity: 1;
    -webkit-transform: scale3d(.475, .475, .475) translate3d(0, 60px, 0);
    -ms-transform: scale3d(.475, .475, .475) translate3d(0, 60px, 0);
    transform: scale3d(.475, .475, .475) translate3d(0, 60px, 0);
    -webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
  }
}

.splash .zoomInEntrance {
  animation: zoomInEntrance 1s;
  -webkit-animation: zoomInEntrance 1s;
  -moz-animation: zoomInEntrance 1s;
}

@-webkit-keyframes zoomInExit {
  100% {
    opacity: 0;
    -webkit-transform: scale3d(8, 8, 8) translate3d(0, 0, 0);
    transform: scale3d(8, 8, 8) translate3d(0, 0, 0););
    -webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
  }
}

@keyframes zoomInExit {
  100% {
    opacity: 0;
    -webkit-transform: scale3d(8, 8, 8) translate3d(0, 0, 0);
    -ms-transform: scale3d(8, 8, 8) translate3d(0, 0, 0);
    transform: scale3d(8, 8, 8) translate3d(0, 0, 0);
    -webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
  }
}

.splash .zoomInExit {
  animation: zoomInExit 1s;
	-webkit-animation: zoomInExit 1s;
  -moz-animation: zoomInExit 1s;
}