* {
	margin: 0;
	padding: 0;
}

body {
	background-color: #005972;
	color: white;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 16pt;
	overflow-x: hidden;
}

footer {
	text-align: center;
	color: #222222;
	background-color: rgba(255, 255, 255, 0.2);
	font-size: 0.8em;
	margin: auto;
	margin-top: 40px;
	width: 90%;
}

header {
	min-height: 500px;
	position:relative;
}

.background {
	display: none;
	float: left;
	position: fixed;
	width: 100%;
	z-index: -1;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center 30%;
}
.background:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
   	/*background: -webkit-linear-gradient(rgba(79, 163, 103, 0.2), rgba(79, 163, 103, 0.2), rgba(79, 163, 103, 0.2), rgba(79, 163, 103, 0.2), rgba(79, 163, 103, 0.2), rgba(79, 163, 103, 0.2), rgba(79, 163, 103, 0.2), rgba(79, 163, 103, 0.2), rgba(79, 163, 103, 0.2), rgba(79, 163, 103, 1)); 
  	background: -o-linear-gradient(rgba(79, 163, 103, 0.2), rgba(79, 163, 103, 0.2), rgba(79, 163, 103, 0.2), rgba(79, 163, 103, 0.2), rgba(79, 163, 103, 0.2), rgba(79, 163, 103, 0.2), rgba(79, 163, 103, 0.2), rgba(79, 163, 103, 0.2), rgba(79, 163, 103, 0.2), rgba(79, 163, 103, 1));
  	background: -moz-linear-gradient(rgba(79, 163, 103, 0.2), rgba(79, 163, 103, 0.2), rgba(79, 163, 103, 0.2), rgba(79, 163, 103, 0.2), rgba(79, 163, 103, 0.2), rgba(79, 163, 103, 0.2), rgba(79, 163, 103, 0.2), rgba(79, 163, 103, 0.2), rgba(79, 163, 103, 0.2), rgba(79, 163, 103, 1));
  	background: -ms-linear-gradient(rgba(79, 163, 103, 0.2), rgba(79, 163, 103, 0.2), rgba(79, 163, 103, 0.2), rgba(79, 163, 103, 0.2), rgba(79, 163, 103, 0.2), rgba(79, 163, 103, 0.2), rgba(79, 163, 103, 0.2), rgba(79, 163, 103, 0.2), rgba(79, 163, 103, 0.2), rgba(79, 163, 103, 1));
    -moz-transition: background .3s linear;
    -webkit-transition: background .3s linear;
    -o-transition: background .3s linear;
    -ms-transition: background .3s linear;
    transition: background .3s linear;*/
}

h1 {
	font-weight: 200;
	font-size: 1.9em;
	text-align:center;
	color: #E04946;
}

h1:after{
	content: "";
	display: block;
	height: 3px;
	width: 90%;
	margin: auto;
	margin-bottom: 0.2em;
	background: #005972;
}

h2 {
	font-weight: 400;
	font-size: 1.3em;
	text-align: left;
	color: #005972;
}

p  {
	text-indent:50px;
}

.a {
	display: inline-block;
	text-align: left;
	font-size: 0.9em;
}

.box {
	display: inline-block;
	width: 26%;
	margin: 2%;
	padding-left: 5px;
	padding-right: 5px;
	vertical-align: top;
	text-align: center;
	vertical-align: middle;
}

.box img{
	width: 100%;
}
.box.icon {
	max-width: 5em;
}
.box.sponsor {
	max-width: 15em;
}

.container {
	text-align: center;
	color: black;
}
.container.icon {
	padding-top: 40px;
	padding-left: 5px;
	width: 150px;
	-webkit-filter: drop-shadow(12px 12px 25px rgba(0,0,0,0.5));
    filter: url("data:image/svg+xml;utf8,<svg height='0' xmlns='http://www.w3.org/2000/svg'><filter id='drop-shadow'><feGaussianBlur in='SourceAlpha' stdDeviation='4'/><feOffset dx='12' dy='12' result='offsetblur'/><feFlood flood-color='rgba(0,0,0,0.5)'/><feComposite in2='offsetblur' operator='in'/><feMerge><feMergeNode/><feMergeNode in='SourceGraphic'/></feMerge></filter></svg>#drop-shadow");
    -ms-filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=12, OffY=12, Color='#444')";
    filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=12, OffY=12, Color='#444')";
}

.everything {
	display: none;
}

.logo {
	display: table;
	width: 100%;
	font-size: 1.2em;
	font-weight: bold;
	-webkit-filter: drop-shadow(12px 12px 25px rgba(0,0,0,0.5));
    filter: url("data:image/svg+xml;utf8,<svg height='0' xmlns='http://www.w3.org/2000/svg'><filter id='drop-shadow'><feGaussianBlur in='SourceAlpha' stdDeviation='4'/><feOffset dx='12' dy='12' result='offsetblur'/><feFlood flood-color='rgba(0,0,0,0.5)'/><feComposite in2='offsetblur' operator='in'/><feMerge><feMergeNode/><feMergeNode in='SourceGraphic'/></feMerge></filter></svg>#drop-shadow");
    -ms-filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=12, OffY=12, Color='#444')";
    filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=12, OffY=12, Color='#444')";
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
}
.logo > .elements {
	display: table-cell;
	text-align: center;
	vertical-align: middle;
	max-width: 100%;
	max-height: inherit;
}
.logo .elements > div {
	text-align: center;
}
.logo .elements > img {
	display: block;
	margin: auto;
	max-width: 100%;
	max-height: inherit;
}

.faq{

}

.fullwidth {
	clear: both;
	width: initial;
}



.main {
	width: 90%;
	margin: auto;
	background-color: white;
	border: 0px;
	color: black;
}

.main .left {
	float: left;
	margin: auto;
	width: 80%;
}

.main .right {
	float: right;
	margin: auto;
	width: 20%;
}

.maincopy {
	margin-top: 2%;
	margin-bottom: 2%;
	margin-left: 3%;
	margin-right: 3%;
}

#notecenter, .power {
	cursor: pointer;
}

.nav {
	background: -webkit-linear-gradient(rgba(255, 255, 255, 0.80), rgba(200, 200, 200, 0.80));
	background: -o-linear-gradient(rgba(255, 255, 255, 0.80), rgba(200, 200, 200, 0.80));
	background: -moz-linear-gradient(rgba(255, 255, 255, 0.80), rgba(200, 200, 200, 0.80));
	background: -ms-linear-gradient(rgba(255, 255, 255, 0.80), rgba(200, 200, 200, 0.80));
	font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
	font-size: 0.8em;
	color: black;
}

.nav a:hover {
	text-decoration: none;
	opacity: 1;
}

.nav table{
	position:fixed;
	float: left;
	height: auto;
	width: 100%;
	z-index: 3;
	background: inherit;
	font-family: inherit;
	font-size: inherit;
	color: inherit;
	border-spacing: 0;
	-webkit-box-shadow: 0px 0px 10px 0px black;
	-moz-box-shadow: 0px 0px 10px 0px black;
	box-shadow: 0px 0px 10px 0px black;
}

.nav tbody {
	height: auto;
	width: 100%;
}

.nav tr {
	height: auto;
	width: 100%;
}

.nav td.element-left {
	height: auto;
	vertical-align: middle;
}

.nav td.element-right {
	height: auto;
	vertical-align: middle;
	text-align: right;
}

.nav .icon {
	top: 1px;
	max-height: 1em;
	position: relative;
}

.nav .element-left ul.topnav {
	float:left;
}

.nav .element-right ul.topnav {
	float: right;
}

.nav li {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.nav ul.topnav {
	list-style: none;
}
.nav ul.topnav li {
	padding-top: 3px;
	padding-bottom: 3px;
	padding-left: 5px;
	padding-right: 5px;
	float: left;
	position: relative; /*--Declare X and Y axis base for sub navigation--*/
}

.nav ul.topnav li:first-child {
	margin-left: 10px;
}
.nav ul.topnav li:last-child {
	margin-right: 10px;
}
.nav ul.topnav li.open {
	background: #E04946;
}
.nav ul.topnav li a{
	display: block;
	text-decoration: none;
	float: left;
}

.nav ul.topnav li span { /*--Drop down trigger styles--*/
	width: 17px;
	height: 35px;
	float: left;
}

.nav ul.topnav li ul.subnav {
	background: rgba(215, 215, 215, 0.80);
	list-style: none;
	position: absolute; /*--Important - Keeps subnav from affecting main navigation flow--*/
	left: 0; top: 35px;
	margin: 0; padding: 0;
	display: none;
	float: left;
	width: 170px;
	border-top: -5px;
	border-radius: 0px 0px 5px 5px;

	/* drop shadow */
	-webkit-box-shadow: 0px 2px 5px 0px black;
	-moz-box-shadow: 0px 2px 5px 0px black;
	box-shadow: 0px 2px 5px 0px black;
}
.nav ul.topnav li ul.subnav li{
	margin: 0; padding: 0;
	clear: both;
	width: 170px;
}

.nav ul.topnav li ul.subnav li:hover {
	background: #E04946;
}

.nav ul.topnav li ul.subnav li:last-child:hover {
	border-radius: 0px 0px 5px 5px;
}

.nav ul.topnav li ul.subnav li a {
	float: left;
	width: 145px;
	padding-left: 20px;
}

.nav .notelist {
	display: none;
	min-top: 27px;
	position: fixed;
	right: -250px;
	z-index: 2;
	width: 250px;
	height: 300px;
}

a:link {
	color: inherit;
	text-decoration: none;
}
a:visited {
	color: inherit;
}
a:hover {
	opacity:0.8;
	text-decoration: underline;
}
a:active {

}
.q {
	display: inline-block;
	width: 100%;
	font-weight: bold;
	text-align: center;
	margin-bottom: 0.8em;
}

.slogan {
	width: 90%;
	position: absolute;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: white;
	border-radius: 10px 10px 0px 0px;
	text-align: center;
	font-size: 2.1em;
	font-weight: bold;
	padding: 0px;
	color: #005972;
}

.standby {
	display: none;
	position: absolute;
	text-align: center;
	width: 100%;
	top: 50%;
}

:target {
	background-color: white;
    -webkit-transition: background-color 1000ms ease-in-out;
    -moz-transition: background-color 1000ms ease-in-out;
    -o-transition: background-color 1000ms ease-in-out;
    -ms-transition: background-color 1000ms ease-in-out;
    transition: background-color 1000ms ease-in-out;
}

@media (max-width : 1600px) {

}

@media (max-width : 1280px) {

	.box {
		width: 44%;
	}
}

@media (max-width : 1024px) {
	body {
    	font-size: 16pt;
    }
	.main {
		width: 90%;
	}
	.slogan {
		width: 90%;
	}
}

@media (max-width : 800px) {
	body {
    	font-size: 14pt;
    }
    #Spring2014 {
		visibility: hidden;
		display: none;
	}
}
@media (max-width : 640px) {
	body {
    	font-size: 12pt;
    }
    .box {
		width: 93%;
	}
	.main .left {
		float: none;
		width: 90%;
	}
	.container .social {
		width: 125px;
		height: 40px;
		bottom: 90px;
	}
	.main {
		width: 100%;
	}
	.nav .element-right {
		visibility: hidden;
		display: none;
	}
	.nav ul.topnav li {
		position: static; /* makes submenus stay on the screen */
	}
	.nav ul.topnav li ul.subnav {
		left: 25%;
	}
	.main .right {
		float: none;
		width: 90%;
		text-align: center;
	}
	.slogan {
		width: 100%;
	}

}
@media (max-width: 480px) {

}
@media (max-width : 320px) {
	body {
    	font-size: 12pt;
    }
}

/* Google form CSS */
.ss-question-list {
	list-style-type:none
}
.ss-form-question {

}
.errorbox-good {

}
.ss-item {
	margin: 0.5em;
}
.ss-item-required {

}
.ss-text {

}
.ss-form-entry {
	margin-bottom: 0em;
}
.ss-form-entry input {
	vertical-align:middle;
	margin-left:0;
	margin-top:0;
}
.ss-form-entry select {
	max-width:100%;
}
.ss-q-item-label {

}
.ss-q-title {
	display:block;
	font-size: 0.8em;
} h2.ss-q-title {
	margin-top:.83em;
	margin-bottom:.83em;
}
.ss-required-asterisk {
	color:#c43b1d;
}
.ss-q-help {
	display:block;
	margin:.1em 0 .25em 0;
}
.ss-secondary-text {
	color:#666;
}
.ss-q-short {
	max-width: 20em;
	width: 95%;
}
.ss-submit-message{
	font:normal 13px arial,sans-serif;
	margin-bottom:20px
}
.error,.required,.errorbox-bad{
	border:2px solid
}
.error,.required,.errorbox-bad{
	border-color:#c43b1d
}
.required-message,.error-message{
	color:#c43b1d;
	display:none;
	font-size:13px
}
.required~.required-message,.error~.error-message{
	display:block
}ul.ss-choices.required{
	margin-left:-3px;
	margin-top:-3px;
	padding-left:4px;
	padding-top:4px
}
.docs-offscreen{
	position:absolute;
	left:-10000px;
	top:-10000px
}
.errorbox-bad{
	background-color:#ffe6cc;
	padding:2px
}
.errorheader{
	color:#c43b1d
}
.ss-navigate {

}
.goog-inline-block {
	position:relative;
	display:-moz-inline-box;
	display:inline-block
}* html.goog-inline-blocks {
	display:inline
}*:first-child+html.goog-inline-blocks {
	display:inline
}
