* {
	margin: 0;
	padding: 0;
}
a[href^="mailto:"]:after {
	content: " ✉";
	display: inline-block;
	padding: 2px;
	vertical-align: top;
	text-indent: 0;
	font-size: 0.75em;
}
a:link {
	color: #005972;
}
a:visited {
	color: #005972;
}
a:hover {
	opacity:0.8;
}
a:active {

}

body {
	background-color: #005972;
	color: white;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 16pt;
	overflow-x: hidden;
}

footer {
	text-align: center;
	color: #222222;
	background-color: rgba(255, 255, 255, 0.2);
	font-size: 0.8em;
	margin: auto;
	margin-top: 40px;
	width: 90%;
}

header {
	min-height: 500px;
	position:relative;
}

h1 {
	font-weight: 200;
	font-size: 1.9em;
	text-align:center;
	color: #E04946;
}

h1:after{
	content: "";
	display: block;
	height: 3px;
	width: 90%;
	margin: auto;
	margin-bottom: 0.2em;
	background: #005972;
}

h2 {
	font-weight: 400;
	font-size: 1.3em;
	text-align: left;
	color: #005972;
}

p  {
	text-indent:50px;
}

.a {
	display: inline-block;
	text-align: left;
	font-size: 0.9em;
}

.box {
	display: inline-block;
	width: 26%;
	margin: 2%;
	padding-left: 5px;
	padding-right: 5px;
	vertical-align: top;
	text-align: center;
	vertical-align: middle;
}

.box img{
	width: 100%;
}

.box.sponsor {
	max-width: 18em;
}

.box.sponsor.small {
	max-width: 9em;
}

.container {
	text-align: center;
	color: black;
}

.faq{

}

.fullwidth {
	clear: both;
	width: initial;
}

.main {
	width: 88%;
	padding: 1%;
	margin: auto;
	background-color: white;
	border: 0px;
	color: black;
}

.main .left {
	float: left;
	margin: auto;
	width: 80%;
}

.main .right {
	float: right;
	margin: auto;
	width: 20%;
}

.maincopy {
	margin-top: 2%;
	margin-bottom: 2%;
	margin-left: 3%;
	margin-right: 3%;
}

.container.oldSponsors div.box.sponsor {
	max-width: 150px;
	width: 25%;
	min-width: 100px;
}

.q {
	display: inline-block;
	width: 100%;
	font-weight: bold;
	text-align: center;
	margin-bottom: 0.8em;
}

.slogan {
	width: 90%;
	position: absolute;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: white;
	border-radius: 10px 10px 0px 0px;
	-webkit-border-radius: 10px 10px 0px 0px;
	text-align: center;
	font-size: 2.1em;
	font-weight: bold;
	padding: 0px;
	color: #005972;
}

:target {
	background-color: white;
    -webkit-transition: background-color 1000ms ease-in-out;
    -moz-transition: background-color 1000ms ease-in-out;
    -o-transition: background-color 1000ms ease-in-out;
    -ms-transition: background-color 1000ms ease-in-out;
    transition: background-color 1000ms ease-in-out;
}

@media (max-width : 1280px) {
	.box.sponsor {
		width: 44%;
	}
	.box.faq {
		width: 44%;
	}
}

@media (max-width : 1024px) {
	body {
    	font-size: 16pt;
    }
	.main {
		width: 88%;
		padding: 1%;
	}
	.slogan {
		width: 90%;
	}
}

@media (max-width : 800px) {
	body {
    	font-size: 14pt;
    }
}

@media (max-width : 640px) {
	body {
    	font-size: 12pt;
    }
    .box.sponsor {
		width: 93%;
	}
	.box.faq {
		width: 93%;
	}
	.main .left {
		float: none;
		width: 90%;
	}
	.main {
		width: 96%;
		padding: 2%;
	}
	.main .right {
		float: none;
		width: 90%;
		text-align: center;
	}
	.slogan {
		width: 100%;
	}
}