
.desktopIcons {
	text-align: center;
	color: black;
	padding-top: 35px;
	padding-bottom: 84px;
	min-height: 381px;
	width: 100%;
	-webkit-column-gap: 10px;
    -moz-column-gap: 10px;
    column-gap: 10px;
	-webkit-column-count: 5; 
    -moz-column-count: 5;
    column-count: 5;
    -webkit-column-fill: auto;
    -mox-column-fill: auto;
    column-fill: auto;
}

.desktopIcons.shadow {
	-webkit-filter: drop-shadow(6px 6px 7px rgba(0,0,0,0.5));
	filter: url(shadow.svg#drop-shadow);
	-ms-filter: progid:DXImageTransform.Microsoft.Shadow(OffX=6, OffY=6, Color='#444');
	filter: progid:DXImageTransform.Microsoft.Shadow(OffX=6, OffY=6, Color='#444');
}

.desktopIcons .icon {
	display: inline-block;
	width: 26%;
	margin: 2%;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 5px;
	padding-right: 5px;
	vertical-align: top;
	text-align: center;
	vertical-align: middle;
	opacity: .9;
	width: 100%;
	max-width: 4em;
	color: white;
	font-size: 0.8em;
}

.desktopIcons .icon img{
	width: 100%;
}

@media (max-width : 1920px) {
	.desktopIcons {
		-webkit-column-count: 12; 
  	  	-moz-column-count: 12;
    	column-count: 12;
	}
}

@media (max-width : 1600px) {
	.desktopIcons {
		-webkit-column-count: 11; 
  	  	-moz-column-count: 11;
    	column-count: 11;
	}
}

@media (max-width : 1440px) {
	.desktopIcons {
		-webkit-column-count: 10;
		-moz-column-count: 10;
		column-count: 10;
	}
}

@media (max-width : 1280px) {
	.desktopIcons {
		-webkit-column-count: 9; 
  	  	-moz-column-count: 9;
    	column-count: 9;
	}
}

@media (max-width : 1024px) {
	.desktopIcons {
		-webkit-column-count: 8; 
  	  	-moz-column-count: 8;
    	column-count: 8;
	}
}

@media (max-width : 900px) {
	.desktopIcons {
		-webkit-column-count: 7; 
  	  	-moz-column-count: 7;
    	column-count: 7;
	}
}

@media (max-width : 800px) {
	.desktopIcons {
		-webkit-column-count: 6; 
  	  	-moz-column-count: 6;
    	column-count: 6;
	}
}

@media (max-width : 640px) {
	.desktopIcons {
		-webkit-column-count: 5; 
  	  	-moz-column-count: 5;
    	column-count: 5;
	}
}

@media (max-width: 480px) {
	.desktopIcons {
		-webkit-column-count: 4; 
  	  	-moz-column-count: 4;
    	column-count: 4;
	}
}

@media (max-width : 320px) {
    .desktopIcons {
		-webkit-column-count: 1; 
  	  	-moz-column-count: 1;
    	column-count: 1;
    	text-align: left;
	}
}